In [33]:
import pandas as pd 
train =  pd.read_csv("train.csv",parse_dates=['Date'], low_memory=False)

In [34]:
test= pd.read_csv("test.csv", parse_dates=['Date'], dtype={'StateHoliday': str, 'SchoolHoliday':str})

In [35]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
Store            1017209 non-null int64
DayOfWeek        1017209 non-null int64
Date             1017209 non-null datetime64[ns]
Sales            1017209 non-null int64
Customers        1017209 non-null int64
Open             1017209 non-null int64
Promo            1017209 non-null int64
StateHoliday     1017209 non-null object
SchoolHoliday    1017209 non-null int64
dtypes: datetime64[ns](1), int64(7), object(1)
memory usage: 69.8+ MB

In [36]:
train.shape

(1017209, 9)

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 8 columns):
Id               41088 non-null int64
Store            41088 non-null int64
DayOfWeek        41088 non-null int64
Date             41088 non-null datetime64[ns]
Open             41077 non-null float64
Promo            41088 non-null int64
StateHoliday     41088 non-null object
SchoolHoliday    41088 non-null object
dtypes: datetime64[ns](1), float64(1), int64(4), object(2)
memory usage: 2.5+ MB

In [7]:
train.tail(6)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
1017203,1110,2,2013-01-01,0,0,0,0,a,1
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [37]:
# there are some stores which have zero sales, let us count the number of stores that have a 172871/ 1017209 dont have sale. 
(train[(train['Sales'] == 0)]).shape

(172871, 9)

In [38]:
# Convert date to pandas datatime
train['Date'] =pd.to_datetime(train.Date)

In [39]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
Store            1017209 non-null int64
DayOfWeek        1017209 non-null int64
Date             1017209 non-null datetime64[ns]
Sales            1017209 non-null int64
Customers        1017209 non-null int64
Open             1017209 non-null int64
Promo            1017209 non-null int64
StateHoliday     1017209 non-null object
SchoolHoliday    1017209 non-null int64
dtypes: datetime64[ns](1), int64(7), object(1)
memory usage: 69.8+ MB

In [40]:
# Create the year and month columns in the data set for train
train['Year'] = pd.DatetimeIndex(train['Date']).year
train['Month']= pd.DatetimeIndex(train['Date']).month

In [41]:
train.head(3)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,Month
0,1,5,2015-07-31,5263,555,1,1,0,1,2015,7
1,2,5,2015-07-31,6064,625,1,1,0,1,2015,7
2,3,5,2015-07-31,8314,821,1,1,0,1,2015,7

In [42]:
train['StateHoliday'].unique()

array(['0', 'a', 'b', 'c'], dtype=object)

In [43]:
# Assign ordering to state holiday 
train.loc[train['StateHoliday'] == '0', 'StateHoliday'] =0
train.loc[train['StateHoliday'] == 'a', 'StateHoliday'] =1
train.loc[train['StateHoliday'] == 'b', 'StateHoliday'] =2
train.loc[train['StateHoliday'] == 'c', 'StateHoliday'] =3

In [44]:
# check if it was modifed 
train['StateHoliday'].unique()

array([0, 1, 2, 3], dtype=int64)

In [16]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 11 columns):
Store            1017209 non-null int64
DayOfWeek        1017209 non-null int64
Date             1017209 non-null datetime64[ns]
Sales            1017209 non-null int64
Customers        1017209 non-null int64
Open             1017209 non-null int64
Promo            1017209 non-null int64
StateHoliday     1017209 non-null int64
SchoolHoliday    1017209 non-null int64
Year             1017209 non-null int64
Month            1017209 non-null int64
dtypes: datetime64[ns](1), int64(10)
memory usage: 85.4 MB

In [45]:

print('levels :' , train['StateHoliday'].unique(), train['StateHoliday'].dtype)

levels : [0 1 2 3] int64

In [46]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41088 entries, 0 to 41087
Data columns (total 8 columns):
Id               41088 non-null int64
Store            41088 non-null int64
DayOfWeek        41088 non-null int64
Date             41088 non-null datetime64[ns]
Open             41077 non-null float64
Promo            41088 non-null int64
StateHoliday     41088 non-null object
SchoolHoliday    41088 non-null object
dtypes: datetime64[ns](1), float64(1), int64(4), object(2)
memory usage: 2.5+ MB

In [47]:
def category_string(dataframe, colname, start_value=0):
    if dataframe[colname].dtype == object:
        my_val = start_value
        for i in dataframe[colname].unique():
            dataframe.loc[dataframe[colname] == i, colname] = my_val
            my_val += 1 
        #dataframe[colname] = dataframe[colname].astype(int, copy=False)
    #print('levels :' , dataframe[colname].unique(), dataframe[colname].dtype)

In [20]:
test.loc[test['StateHoliday'] == '0', 'StateHoliday'] =0
test.loc[test['StateHoliday'] == 'a', 'StateHoliday'] = 1

In [48]:
test.StateHoliday.unique()

array(['0', 'a'], dtype=object)

In [22]:
df[].map({'a':'1','b':'2'})

SyntaxError: invalid syntax (<ipython-input-22-f27e6f6368c7>, line 1)

In [49]:
category_string(test, 'StateHoliday')

In [50]:
test['StateHoliday'].unique()

array([0, 1], dtype=int64)

In [51]:
test.SchoolHoliday.unique()

array(['0', '1'], dtype=object)

In [29]:
train['SchoolHoliday'] = train['SchoolHoliday'].astype(int)

In [52]:
missing_value ={}
for i in train.columns:
    missing_value[i]= train[i].isnull().sum()
print(missing_value)

{'Store': 0, 'DayOfWeek': 0, 'Date': 0, 'Sales': 0, 'Customers': 0, 'Open': 0, 'Promo': 0, 'StateHoliday': 0, 'SchoolHoliday': 0, 'Year': 0, 'Month': 0}

In [55]:
import seaborn as sns

In [56]:
import matplotlib as plt
%matplotlib inline

In [58]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 11 columns):
Store            1017209 non-null int64
DayOfWeek        1017209 non-null int64
Date             1017209 non-null datetime64[ns]
Sales            1017209 non-null int64
Customers        1017209 non-null int64
Open             1017209 non-null int64
Promo            1017209 non-null int64
StateHoliday     1017209 non-null int64
SchoolHoliday    1017209 non-null int64
Year             1017209 non-null int64
Month            1017209 non-null int64
dtypes: datetime64[ns](1), int64(10)
memory usage: 85.4 MB

In [59]:
# Create a specific matrix , dataframe to check the correlations
matriz = pd.DataFrame(train.loc[:, ['DayOfWeek', 'Sales', 'Month', 'Year', 'Customers', 'Promo',
                                    'StateHoliday', 'SchoolHoliday']].corr())

In [ ]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25,
                                                                           random_state = 42)
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor

# Instantiate model 
rf = RandomForestRegressor(n_estimators= 1000, random_state=42)

# Train the model on training data
rf.fit(train_features, train_labels);